* {
    box-sizing: border-box;
}

h2 {
  padding-left: 50px;
}

p {
  font-size: 24px;
}

.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  min-height: 100vh;
}

.App-sidebar {
  background-color: #2b2f3e;
  flex: 21%;
  padding: 35px;
  color: white;
}

.App-sidebar > p {
  margin-top: 0;
  color: #9c9b96;
}

.App-sidebar > h1 {
  margin-top: 0;
  margin-bottom: 15px;
  font-variant: small-caps;
}

.Container {
  background-color: #f9f9f9;
  flex: 79%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.block1 {
  padding: 40px 10px 0 40px;
  flex: 52%;
  overflow-y: auto;
}

.block2 {
  max-width: 728px;
  padding: 40px 40px 0 10px;
  flex: 48%;
  overflow-y: auto;
}

.InnerDiv {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-bottom: 25px;
  min-height: 500px;
  max-width: 738px;
  box-shadow: 0px 0px 8px grey;
}

.AddItemForm {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  margin: 0 30px 0 50px;
}

.ItemContainer {
  position: relative;
  display: flex;
  max-height: 200px;
  padding: 5px 30px 5px 50px;
  justify-content: space-between;
  border-left: 5px solid transparent;
}

.Item {
  flex: 1 0 auto;
  cursor: pointer;
  overflow-x: hidden;
  max-width: 500px;
  white-space: wrap;
  text-overflow: ellipsis;
}

.ItemContainer:hover {
  border-left: 5px solid red;
}


.ItemContainer:before {
  content: "";
  position: absolute;
  max-width: 89%;
  height: 1px;
  bottom: 0;
  left: 50px;
  right: 30px;
  border-bottom: 1px solid lightgrey;
}

.commentsCount {
  color: white;
  background-color: #27ccc0;
  border-radius: 40%;
  padding: 0 8px;
  margin: 0 5px;
}

input[type=text], select {
  padding: 10px 10px;
  margin: 8px 20px 8px 0;
  flex-grow: 3;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  cursor: pointer;
  flex-grow: 1;
  background-color: #27ccc0;
  color: white;
  font-size: 24px;
  padding: 10px 12.5px;
  margin: 8px 0;
  border: 1px solid #27ccc0;
  border-radius: 5px;
}

.deleteButton {
  cursor: pointer;
  background-color: white;
  color: #ff3159;
  font-size: 24px;
  margin: auto 0 auto 10px;
  padding: 5px 35px;
  border: 2px solid red;
  border-radius: 5px;
  min-height: 56px;
  max-height: 56px;
}

.avatar {
  flex: 0 0 auto;
  height: 78px;
  width: 78px;
  margin-right: 21px;
  background-color: lightgrey;
}


.comment {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  padding: 21px 35px 35px 30px;
}

.AddComment {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  padding: 21px 35px 35px 30px;
}

.comment:nth-child(odd) > .avatar {
  background-color: #47568c;
}

.comment:nth-child(even) > .avatar {
  background-color: #ff8a00;
}

.comment:before {
  content: "";
  position: absolute;
  max-width: 100%;
  height: 1px;
  bottom: 0;
  left: 30px;
  right: 35px;
  border-bottom: 1px solid lightgrey;
}

.commentBody {
  margin: 0;
  font-size: 14px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.commentArea {
  flex: 1 0 auto;
}


::-webkit-scrollbar {
    width: 0;
}

